/* table colour */
th, .dynatable-active-page {
  background: rgba(55, 55, 55, 0.45);
}

.mdl-color--grey-100 {
  background-color: rgba(55, 55, 55, 0.45) !important;
}

/* ---- grid ---- */

.grid {
  background: #eee;
  width: 100%;
  height: 100%;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-item {
  float: left;
  background: #fff;
  border: 2px solid #DDD;
  padding: 5px;
  margin: 5px;
}

.grid-item:hover {
  border-color: #444;
  cursor: move;
}

.grid-item.is-dragging,
.grid-item.is-positioning-post-drag {
  background: #C90;
  z-index: 2;
}

.packery-drop-placeholder {
  margin: 5px;
  outline: 3px dashed hsla(0, 0%, 0%, 0.5);
  outline-offset: -6px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
}
